/* Estilo para el contenedor del mapa */
#mapa {
    height: 100%;
    /* Establece la altura del mapa al 100% de su contenedor padre */
    width: 100%;
    /* Establece el ancho del mapa al 100% de su contenedor padre */
}

/* Estilo global para el HTML y el body */
html,
body {
    height: 100%;
    /* Asegura que tanto el HTML como el body ocupen toda la altura de la ventana */
    margin: 0;
    /* Elimina los márgenes predeterminados del navegador */
    padding: 0;
    /* Elimina el relleno predeterminado del navegador */
}

/* Oculta elementos específicos de la interfaz de Google Maps */
.gm-style-cc,
/* Oculta el contenedor de términos y condiciones */
.gmnoprint a,
/* Oculta los enlaces de atajos de teclado */
.gmnoprint span {
    /* Oculta el enlace "Reportar un error del mapa" */
    display: none;
    /* Oculta los elementos */
}

/* Contenedor para los elementos sobre el mapa */
#sobreMapa {
    position: absolute;
    /* Posiciona el elemento absolutamente en relación con su ancestro posicionado más cercano */
    top: 0;
    /* Lo alinea a la parte superior de su contenedor */
    left: 0;
    /* Lo alinea a la parte izquierda de su contenedor */
    width: 100%;
    /* Ocupa todo el ancho de su contenedor */
    height: 100%;
    /* Ocupa toda la altura de su contenedor */
    pointer-events: none;
    /* Permite que los eventos del ratón interactúen con los elementos debajo de él */
}

/* Contenedor para los botones en la esquina inferior derecha */
#abajoDerecha {
    display: flex;
    /* Configura un diseño flexible */
    flex-direction: column;
    /* Organiza los elementos en una columna */
    position: absolute;
    /* Posiciona el contenedor absolutamente */
    right: 20px;
    /* Lo alinea a 20px del borde derecho */
    bottom: 20px;
    /* Lo alinea a 20px del borde inferior */
    pointer-events: auto;
    /* Permite que los botones respondan a los eventos del ratón */
}

/* Estilo para los íconos de los botones */
#abajoDerecha i.material-symbols-outlined {
    font-size: 50px;
    /* Establece el tamaño del icono */
    user-select: none;
    /* Evita que el usuario pueda seleccionar el texto del icono */
    -webkit-user-select: none;
    /* Compatibilidad con navegadores basados en WebKit */
}

/* Estilo para los botones redondeados */
#abajoDerecha button {
    margin: 10px;
    /* Espaciado entre los botones */
    border-radius: 50%;
    /* Hace que los botones sean circulares */
}

/* Estilo para el div que muestra la distancia */
#distancia {
    background-color: white;
    /* Fondo blanco para el texto */
    position: absolute;
    /* Posiciona el elemento absolutamente */
    top: 10px;
    /* Lo alinea a 10px de la parte superior */
    left: 50%;
    /* Lo centra horizontalmente */
    transform: translateX(-50%);
    /* Ajusta la posición para centrarlo correctamente */
    text-align: center;
    /* Centra el texto dentro del elemento */
    user-select: none;
    /* Evita que el texto sea seleccionable */
    -webkit-user-select: none;
    /* Compatibilidad con navegadores basados en WebKit */
    pointer-events: auto;
    /* Permite que el elemento responda a los eventos del ratón */
}

/* Contenedor para la información del hoyo en la izquierda */
#izquierda {
    border: 3px groove gray;
    /* Borde con estilo "groove" y color gris */
    margin: 5px;
    /* Margen alrededor del contenedor */
    position: absolute;
    /* Posiciona el contenedor absolutamente */
    background-color: #FFFF;
    /* Fondo blanco */
    top: 50%;
    /* Lo centra verticalmente */
    -ms-transform: translateY(-50%);
    /* Compatibilidad con navegadores antiguos de Microsoft */
    transform: translateY(-50%);
    /* Ajusta la posición para centrarlo correctamente */
    -webkit-user-select: none;
    /* Evita que el texto sea seleccionable en navegadores WebKit */
    pointer-events: auto;
    /* Permite que el contenedor responda a los eventos del ratón */
    text-align: center;
    /* Centra el texto dentro del contenedor */
    font-weight: bold;
    /* Hace que el texto sea negrita */
    padding: 4px;
    /* Espaciado interno dentro del contenedor */
}